version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: citycab-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: citycab
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1234
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
